<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>TODOS</h1>
        <p class="text-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-inline form-flex">
            <div class="form-group col-md-10">
                <input type="text" placeholder="Add new todo here" name="todotext"
                    class="form-control-plaintext drop-shadow">
            </div>
            <button class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow"> Add </button>
        </form>
    </div>
</div>
<!-- <div class="row justify-content-center todo-list">
    <div class="col-md-6 ">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">

                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row todo-list">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center clearfix">
                    <div>
                        <small><i class="fa fa-circle text-danger"></i></small>
                        <small><i class="fa fa-check text-success"></i></small>
                    </div>
                    <div class="cat-tools">
                        <small><i class="fa fa-pencil text-success"></i></small>
                        <small><i class="fa fa-trash text-danger"></i></small>
                    </div>
                </div>
                <div class="todo-content">
                    <h1>categorie</h1>
                    <small class="text-secoundry">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quod id, consequuntur ipsam doloremque nesciunt, quaerat quam, cupiditate animi veritatis sit dicta. Iure optio magnam, sunt accusamus itaque recusandae tenetur.</small>
                </div>
                <span class="badge text-bg-danger">3 - todos</span>
            </div>
        </div>
    </div>
</div>