<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>TODOS</h1>
        <p class="text-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-inline form-flex">
            <div class="form-group col-md-10">
                <input type="text" placeholder="Add new todo here" name="todotext"
                    class="form-control-plaintext drop-shadow">
            </div>
            <button class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow"> Add </button>
        </form>
    </div>
</div>
<!-- <div class="row justify-content-center todo-list">
    <div class="col-md-6 ">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left text-secoundry">
                        <i class="fa fa-circle text-danger"></i>
                        <i class="fa fa-check text-success"></i>
                        New Todo
                    </div>
                    <div class="float-right">
                        <i class="fa fa-check-circle text-success"></i>
                        <i class="fa fa-times-circle text-danger"></i>
                        <div class="todo-tools">
                            <small>
                                <i class="fa fa-pencil text-success"></i>
                                <i class="fa fa-trash text-danger"></i>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row justify-content-center todo-list">
    <div class="col-md-6 ">
        <div class="card">
            <div class="card-body d-flex justify-content-between">
                <div class="d-inline-block text-secondary">
                    <i class="fa fa-circle text-danger"></i>
                    <i class="fa fa-check text-success"></i>
                    New Todo
                </div>
                <div class="d-inline-block">
                    <i class="fa fa-check-circle text-success"></i>
                    <i class="fa fa-times-circle text-danger"></i>
                    <div class="todo-tools">
                        <small>
                            <i class="fa fa-pencil text-success"></i>
                            <i class="fa fa-trash text-danger"></i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>